.container{
  max-width: 1200px;
}
.ul{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.li{
  height: 150px;
  border: 1px solid red;
  display: flex;
}
.li:hover{
  color: #53c28b;
  cursor: pointer;
}
.image{
  margin-right: 20px;
}
.liRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}